<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WorkoutTimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5632FCF1F14F0F90060084F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5632FE31F14F0F90060084F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5632FEE1F14F0F90060084F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
